<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>cookie_1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SetCookie</display-name>
    <servlet-name>SetCookie</servlet-name>
    <servlet-class>com.example.SetCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetCookie</servlet-name>
    <url-pattern>/SetCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCookieServlet</display-name>
    <servlet-name>GetCookieServlet</servlet-name>
    <servlet-class>com.example.GetCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCookieServlet</servlet-name>
    <url-pattern>/GetCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetCookieServlet</display-name>
    <servlet-name>SetCookieServlet</servlet-name>
    <servlet-class>com.example.SetCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetCookieServlet</servlet-name>
    <url-pattern>/SetCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreUserInfoServlet</display-name>
    <servlet-name>StoreUserInfoServlet</servlet-name>
    <servlet-class>com.example.StoreUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreUserInfoServlet</servlet-name>
    <url-pattern>/StoreUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserFormServlet</display-name>
    <servlet-name>UserFormServlet</servlet-name>
    <servlet-class>com.example.UserFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserFormServlet</servlet-name>
    <url-pattern>/UserFormServlet</url-pattern>
  </servlet-mapping>
</web-app>